
<div class="form-container">

    <h1>Nuevo usuario</h1> 
  
    <form [formGroup]="userForm" (ngSubmit)="saveForm()">
      
        <label for="nombre">Nombre</label>
        <input type="text" formControlName="nombre"  placeholder="Nombre del usuario">

        <label for="apellido">Apellido</label>
        <input type="text" formControlName="apellido"  placeholder="Apellido del usuario">

        <label for="dni">Dni</label>
        <input type="number" formControlName="dni"  placeholder="DNI del usuario">

        <label for="fnacimiento">Fecha de nacimiento</label>
        <input type="date" formControlName="fnacimiento"  placeholder="Fecha de nacimiento">

        <label for="cargo">Cargo</label>
        <input type="text" formControlName="cargo"  placeholder="Cargo del empleado">

        <label for="legajo">Legajo</label>
        <input type="number" formControlName="legajo"  placeholder="Legajo del empleado">

        <label for="nombre_usuario">Nombre de usuario</label>
        <input type="text" formControlName="nombre_usuario"  placeholder="Nombre de usuario para el sistema">

        <label for="contrasenia">Contraseña de usuario</label>
        <input type="text" formControlName="contrasenia"  placeholder="Contraseña para el sistema">

        <label for="ciudad">Ciudad</label>
        <input type="text" formControlName="ciudad"  placeholder="Ciudad natal">

        <label for="pais">Pais</label>
        <input type="text" formControlName="pais"  placeholder="Pais natal">

        <label for="provincia">Provincia</label>
        <input type="text" formControlName="provincia"  placeholder="Provincia">

        <label for="codigo_postal">Codigo postal</label>
        <input type="text" formControlName="codigo_postal"  placeholder="Codigo postal">

        <label for="direccion">Direccion</label>
        <input type="text" formControlName="direccion"  placeholder="Direccion de residencia">

        <label for="correo_electronico">Correo electronico</label>
        <input type="email" formControlName="correo_electronico"  placeholder="Cuenta de correo">
      
  
      
       
      <button type="submit" class="btn-send" >Registrar usuario</button>
    </form>
   
  </div>
