<div class="container-fluid">

  <mat-card>

    <form [formGroup]="form">


      <mat-label>Selecciona un repuesto</mat-label>
      <br>

      <mat-form-field appearance="fill">
        <mat-select formControlName="repuesto">
          <mat-option *ngFor="let repuesto of dataSourceRepuestos" [value]="repuesto">
            {{repuesto.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <br>
      <mat-label>Selecciona un modelo para filtrar repuestos</mat-label>
      <br>

      <mat-form-field appearance="fill">
        <mat-select>
          <mat-option *ngFor="let m of modelos" [value]="m" (ngValue)="modeloValue">
            {{m}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <div class="input-group">
            <select class="custom-select" formControlName="repuesto">
              <option *ngFor="let repuesto of dataSourceRepuestos" [value]="repuesto">
                {{repuesto.nombre}}
              </option>
            </select>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">Button</button>
            </div>
          </div> -->


      <!-- <mat-label>Favorite food</mat-label>
            <input matInput placeholder="Ex. Pizza" value="Sushi"> -->

      <br>
      Cantidad:
      <br>
      <input type="number" (ngValue)='cntInstalada' formControlName="cantidadInstalada">

      <button style="margin: 1%;" type="button" class="btn btn-primary btn-sm" (click)="agruopData()">Agregar</button>

      <hr class="my-7">

      <p>Seleccion:</p>

      <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let r of seleccion">
          Nombre de repuesto:
          <b>{{ r.nombre }}</b>
          <br>
          Cantidad a instalar elegida:
          <b>
            {{r.cantidadInstalada}}
          </b>
          <br>
          <button (click)="deleteSelection(r.id)">Eliminar de la seleccion</button>
        </li>
      </ul>


      <mat-form-field appearance="fill">
        <mat-label>Selecciona una maquina</mat-label>
        <mat-select #maquina (selectionChange)="getMaquinaForSelect($event.value)">
          <mat-option *ngFor="let maquina of dataSourceMaquinas" [value]="maquina">
            {{maquina.maquina_cod}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <button style="margin: 1%;" type="button" class="btn btn-primary btn-sm" (click)="asociar()">
        Confirmar
      </button>




    </form>

  </mat-card>

</div>