<app-nav></app-nav>
<h3>Exportar</h3>
<div class="container">
    <button mat-raised-button color="primary" (click)="exportAsXLSX()">Exportar</button>
</div>
<app-tabla class="table" [ds]='dataSourceRepuestos' 
                             [columns]='columnsToDisplay' 
                             [width]="'98%'"
                             (clickRow)="clickedRow($event)"
                             [title]="['Existencia']"
                             [includeButton]="true"
                             [nameForButton]="['Nuevo repuesto']"
                             [routeForButton]="['formexistencia']">
</app-tabla>


