<mat-list role="list">

  <form [formGroup]="form" (ngSubmit)="addPrioridad()">
    <div class="input-group mb-3">
      <input type="text" class="form-control" formControlName="nombre" placeholder="Agregar prioridad" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <app-button [name]="['Agregar']" type="submit"></app-button>
      </div>
    </div>
  </form>
  <mat-list-item role="listitem" *ngFor="let prioridad of dataSourcePrioridades">{{prioridad.nombre}} </mat-list-item>
</mat-list>