<div class="form-container">

    <div class="card">
  
      <h2 class="card-header">
        Nueva salida
      </h2>
    
      <div class="card-body">
        
        <form [formGroup]="salidaForm" (ngSubmit)="saveForm()">
      
          <div class="form-row">
      
            <div class="col">
            <label for="cantidad">Cantidad</label>
            <app-input [type]="'onlyNumber'" 
                       [parentForm]="salidaForm"  
                       [control]="salidaForm.controls.cantidad"
                       [placeholder]="'Ingrese cantidad'">
            </app-input>
            </div>
  
            <div class="col">
            <label for="fecha">Fecha</label>
            <app-input [type]="'datetime-local'" 
                       [parentForm]="salidaForm"  
                       [control]="salidaForm.controls.fecha"
                       [placeholder]="'DD-MM-YYYY'">
            </app-input>
            </div>
  
          </div>
  
          <div class="form-row">
      
            <div class="col">
            <label for="repuesto_cod">Repuesto</label>
            <app-input [type]="'select-pair'" 
                       [parentForm]="salidaForm"  
                       [control]="salidaForm.controls.repuesto_cod"
                       [options]="dataSourceRepuestos">
            </app-input>
            </div>
      
            <div class="col">
            <label for="sector_cod">Sector</label>
            <app-input [type]="'select-pair'" 
                       [parentForm]="salidaForm"  
                       [control]="salidaForm.controls.sector_cod"
                       [options]="dataSourceSectores">
            </app-input>
            </div>
  
          </div>
  
          <div class="form-row">
  
            <div class="col">
            <label for="solicitante_cod">Solicitante</label>
            <app-input [type]="'select-pair'" 
                       [parentForm]="salidaForm"  
                       [control]="salidaForm.controls.solicitante_cod"
                       [options]="dataSourceUsuarios">
            </app-input>
            </div>
  
         
  
          </div>
  
          <div style="margin-top: 3%" class="btn-group btn-group-toggle" data-toggle="buttons">
            <app-button [name]="'Crear salida'" type="submit" [type]="'success'"></app-button>
            <app-button [name]="'Cancelar'" [type]="'cancel'"></app-button>
          </div>
      
        </form>
      </div>
    </div>
  
  </div>