<app-tabla class="table" [ds]='dataSourceOrdenes' 
                         [columns]='columnsToDisplay' 
                         [width]="'98%'"
                         (clickRow)="clickedRow($event)"
                         [title]="['Ordenes de trabajo']"
                         [includeButton]="true"
                         [includeButtonImport]="true"
                         [dataSource]='dataSourceOrdenes'
                         [nameForButton]="['Nueva orden']"
                         [routeForButton]="['form']">
</app-tabla>



