/* Structure */


.data {
    display: block;
    //width: 95vw;
    //overflow: auto;
    margin: 35px;
  
    .table {
        //width: 100vw;
        //max-width: 100%;
        //overflow: auto;
        //margin-bottom: 10px;
        //display: table;
        border-collapse: collapse;
        background-color: rgb(238, 238, 238);
    }
  }
  
  .filter{
    top: 25px;
    margin-left: 35px;
    max-width: 403px;
    margin-top: 50px;
  
    }
  
  table th{
    //padding: 12px;
    font-weight: bolder;
    font-size: 15px;
    border: none;
    padding-bottom: 20px;
  }
  
  table td span {
      //padding-top: 35px;
      font: 95% Arial, Helvetica, sans-serift;
  }
  
  td.mat-cell{
    //padding: 10px;
    padding-top: 20px;
    border-bottom-width: 3px;
    border-bottom-style: solid;
  }
  
  .mat-form-field {
      font-size: 14px;
      //width: 100%;
  }
  