<mat-tab-group>

  <mat-tab label="Maquinas">

    <app-tabla class="table" [ds]='dataSourceMachines' 
                             [columns]='columnsToDisplay' 
                             [width]="'90%'"
                             (clickRow)="clickedRow($event)"
                             [title]="['Maquinas']"
                             [includeButton]="true"
                             [nameForButton]="['Nueva maquina']"
                             [routeForButton]="['form']">
    </app-tabla>

  </mat-tab>

  <mat-tab label="Plantas">
    <app-tabla-planta></app-tabla-planta>
  </mat-tab>
  
  <mat-tab label="Sectores">
    <app-tabla-sector></app-tabla-sector>
  </mat-tab>

</mat-tab-group>