<app-nav></app-nav>

                <div class="input-group-btn" style="margin: 1% 0% 0% 1%;">

                        <button (click)="saveCurrent()" class="btn btn-success ">
                            Guardar planificación actual
                        </button>
                    </div>

<app-tabla class="table" [ds]='dataSourceTareas' 
                         [columns]='columnsToDisplay' 
                         [width]="'98%'"
                         (clickRow)="clickedRow($event)"
                         [title]="['Tareas']"
                         [includeButton]="true"
                         [includeButtonImport]="true"
                         [dataSource]="dataSourceTareas"
                         [nameForButton]="['Programar tarea']"
                         [routeForButton]="['formTarea']">
</app-tabla>
