<mat-tab-group>

    <mat-tab label="Planificación">
  
      <app-tabla class="table" [ds]='dataSourceTareas' 
                               [columns]='columnsToDisplay' 
                               [width]="'90%'"
                               (clickRow)="clickedRow($event)"
                               [title]="['Tareas']"
                               [includeButton]="true"
                               [nameForButton]="['Programar tarea']"
                               [routeForButton]="['formTarea']">
      </app-tabla>
  
    </mat-tab>
  
    <mat-tab label="Registro">
      <app-tabla-registro></app-tabla-registro>
    </mat-tab>
  
  </mat-tab-group>