<mat-tab-group>

    <mat-tab label="Planificados">
        <div class="container pt-4">
            <form [formGroup]="formForTask" (ngSubmit)="getTareas()">
                <div class="row">
                    <div class="col-lg-6 col-12">
                        <label for="">
                            <h2>Buscador de tareas</h2>
                            Ingrese mes y año para buscar.
                        </label>
                        <app-input [type]="'datetime-month'" [parentForm]="formForTask"
                            [control]="formForTask.controls.fecha">
                        </app-input>
                    </div>
                    <div class="col-lg-6 col-12 d-flex flex-column flex-lg-row align-self-end justify-content-between">

                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>




                        <!-- <app-button [name]="'Buscar planificación actual'" type="submit" [type]="'primary'" ></app-button>
                        <app-button [name]="'Guardar planificación actual'" [type]="'success'" (click)="saveCurrent()"></app-button> -->

                    </div>
                </div>
            </form>
        </div>
        <app-tabla class="table" [ds]='dataSourceTareas' [columns]='columnsToDisplay' [width]="'92%'" [title]="[' ']"
            [includeButton]="false">
        </app-tabla>

    </mat-tab>
    <!-- <div style="position: relative; right: 4%;  padding: 15px;">
            <form [formGroup]="formForTask" (ngSubmit)="getTareas()">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <label for="">
                                <h2>Buscador de tareas</h2>
                                Ingrese mes y año para buscar.
                            </label>

                            <app-input [type]="'datetime-month'" [parentForm]="formForTask"
                                [control]="formForTask.controls.fecha">
                            </app-input>

                        </div>

                        <div class="col" style="position: relative; right: 4%;">

                            <app-button [name]="'Buscar'" type="submit" [type]="'primary'"></app-button>

                        </div>

                    </div>
                </div>

            </form>

        </div>
-->

    <mat-tab label="A realizar">
        <div class="container pt-4">
            <form [formGroup]="formForSaves" (ngSubmit)="getSaves()">
            <div class="row">
                    <div class="col-lg-6 col-12">
                        <label for="">
                            <h2>Buscar planificaciones guardardas</h2>
                            Ingrese mes y año para buscar.
                        </label>
                        <app-input [type]="'datetime-month'" [parentForm]="formForSaves"
                            [control]="formForSaves.controls.fecha">
                        </app-input>


                    </div>
                    <div class="col-lg-6 col-12 d-flex flex-column flex-lg-row align-self-end justify-content-between">

                        <button type="submit" class="btn btn-primary">
                            Buscar planificación actual
                        </button>


                        <button (click)="saveCurrent()" class="btn btn-success ">
                            Guardar planificación actual
                        </button>

                        <!-- <app-button [name]="'Buscar planificación actual'" type="submit" [type]="'primary'" ></app-button>
                            <app-button [name]="'Guardar planificación actual'" [type]="'success'" (click)="saveCurrent()"></app-button> -->

                    </div>

            </div>

        </form>
            <app-tabla class="table" [ds]='dataSourceSaves' 
                                     [columns]='columnsToDisplayForSaves' 
                                     [width]="'92%'"
                                     [title]="[' ']" 
                                     [includeButton]="false"
                                     (clickRow)="clickedRow($event)">
            </app-tabla>
            
        </div>


    </mat-tab>
</mat-tab-group>
    <!-- <div style="position: relative; right: 4%;  padding: 15px;">
                <form [formGroup]="formForSaves" (ngSubmit)="getSaves()">
                <div class="container">
                    <div class="row">
                        <div class="col">

                            <label for=""> 
                                <h2>Buscar planificaciones guardardas</h2>
                                Ingrese mes y año para buscar.
                            </label>

                            <app-input [type]="'datetime-month'" 
                                       [parentForm]="formForSaves"  
                                       [control]="formForSaves.controls.fecha">
                            </app-input>
                
                        </div>

                        <div class="col" >

                            <app-button [name]="'Buscar planificación actual'" type="submit" [type]="'primary'" ></app-button>
                            <app-button [name]="'Guardar planificación actual'" [type]="'success'" (click)="saveCurrent()"></app-button>
                        </div>

                    </div>
                </div>    
                
            </form>
            
        </div> -->

