<app-nav></app-nav>


<div class="container-fluid">
    <div class="col-6 col-sm-4" style="margin: 1% 0% 1% 0%">
        <form [formGroup]="formForTask" (ngSubmit)="getTareas()">

            <label style="color: white;">
                <h2 style="color: white;">Buscador de tareas programadas</h2>

                Ingrese mes y año para buscar.
            </label>

            <div class="input-group">

                <app-input [type]="'datetime-month'" [parentForm]="formForTask"
                           [control]="formForTask.controls.fecha">
                </app-input> 

                <span class="input-group-btn" style="margin: 0% 0% 0% 3%;">
                    <button type="submit" class="btn btn-primary"> Buscar </button>            
                </span>

            </div>

        </form>
    </div>

    <div class="col-12" style="margin: 0% 0% 5% -1%">
        <app-tabla class="table" [ds]='dataSourceTareas' 
                                 [columns]='columnsToDisplay' 
                                 [width]="'100%'" 
                                 [title]="['']"
                                 [includeButton]="false">
        </app-tabla>
    </div>
</div>

<hr style="background-color: #284D4D" class="my-6">

<div class="container-fluid">
    <div class="col-6 col-sm-4" style="margin: 1% 0% 1% 0%">
        <form [formGroup]="formForSaves" (ngSubmit)="getSaves()">

            <label style="color: white;">
                <h2 style="color: white;">Buscar planificaciones guardadas</h2>
                    Ingrese mes y año para buscar.
            </label>

            <div class="input-group">
                        
                <app-input [type]="'datetime-month'" [parentForm]="formForSaves"
                            [control]="formForSaves.controls.fecha">
                </app-input>

                <span class="input-group-btn" style="margin: 0% 0% 0% 3%;">

                        <button type="submit" class="btn btn-primary">
                            Buscar
                        </button>
                </span>

                <!-- <span class="input-group-btn" style="margin: 0% 0% 0% 3%;">

                        <button (click)="saveCurrent()" class="btn btn-success ">
                            Guardar planificación actual
                        </button>
                </span> -->

            </div>

        </form>
    </div>

    <div class="col-12" style="margin: 0% 0% 5% -1%">

            <app-tabla class="table"  [ds]='dataSourceSaves' 
                                      [columns]='columnsToDisplayForSaves' 
                                      [width]="'92%'"
                                      [title]="[' ']" 
                                      [includeButton]="false"
                                      (clickRow)="clickedRow($event)">
            </app-tabla>
            
    </div>
</div>



