<div class="form-container">

  <div class="card">

    <h5 class="card-header">
      Nueva planta
    </h5>
  
    <div class="card-body">

      <form [formGroup]="formPlanta" (ngSubmit)="saveForm()">

        <label for="nombre">Nombre de la planta</label>
        <app-input [type]="'input'" 
                   [parentForm]="formPlanta"  
                   [control]="formPlanta.controls.nombre"
                   [placeholder]="'Ingrese nombre de la planta'">
        </app-input>


        <app-button [name]="['Registrar planta']" type="submit"></app-button>
      </form>

    </div>
    
  </div>

</div>