<div class="form-container">

  <div class="card">

    <h2 class="card-header">
      {{section}}
    </h2>
  
    <div class="card-body">

      <form [formGroup]="formPlanta" (ngSubmit)="saveForm()">

        <label for="nombre">Nombre de la planta</label>
        <app-input [type]="'input'" 
                   [parentForm]="formPlanta"  
                   [control]="formPlanta.controls.nombre"
                   [placeholder]="'Ingrese nombre de la planta'">
        </app-input>
        
        <div style="margin-top: 3%" class="btn-group btn-group-toggle" data-toggle="buttons">
          <app-button [name]="buttonName" type="submit" [type]="'success'"></app-button>
          <app-button [name]="'Cancelar'" [type]="'cancel'"></app-button>
        </div>

      </form>

    </div>
    
  </div>

</div>