@import '_variables.scss';
@import '_mixin.scss';

.flex-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.field-100 {
  width: 100%;
  min-width: 557px;
}

.field-50 {
  width: 50%;
  min-width: 357px;
}

.field-30 {
  width: 33%;
  min-width: 200px;
}

.field-15 {
  width: 17%;
}

.field-25 {
  width: 25%;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 300px;
  font-size: 19px;
  padding: 0 22px;

  &__check {
    margin: 0  0 0 10px;
    transform: scale(1.3);
  }
}

div {
  white-space: pre-wrap;
}

.dx-datagrid .dx-row-alt > td,
.dx-datagrid .dx-row-alt > tr > td {
  background-color: #eee !important;
}

tr.dx-group-row * {
  background: #444 !important;
  color: white !important;
  font-weight: 500 !important;
}

.dx-texteditor.dx-editor-outlined {
  width: 500px !important;
}

tr.dx-row.dx-column-lines.dx-header-row {
  font-weight: 500;
  font-size: 16px;
  background-color: #1075b7 !important;
  color: white !important;
  font-family: Roboto, "Helvetica Neue", sans-serif !important;
  height: 50px;
}

// Material Theme Overrides
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: $primary-ligthblue;
  color: #fff;
}

.mat-ink-bar {
  height: 3px !important;
}

.mat-tab-label-content {
  font-weight: 100;
}

.mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: $primary-ligthblue;
}

.mat-tab-label-active .mat-tab-label-content {
  font-weight: 500;
}

.mat-dialog-container {
  height: auto !important;
}

.mat-tooltip {
  font-size: 16px;
}

::ng-deep .mat-horizontal-stepper-header-container {
  white-space: pre-wrap;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0 30px 0;
}

.sai-section {
  display: flex;
  flex-direction: column;

  @include paddind-section();

  &__header {
    display: flex;
    align-content: baseline;

    &__title {
      font-size: $font-size-l;
      font-weight: 500;
      color: $primary-ligthblue;
    }
  }

  &__content {
    padding-top: 10px;
  }
}
