<app-tabla class="table" [ds]='dataSourceRespuestoMaquina' 
                           [columns]='columnsToDisplay' 
                           [width]="'98%'"
                           [title]="['Asociaciones']"
                           (clickRow)="clickedRow($event)"
                           [includeButton]="true"
                           [includeButtonImport]="true"
                           [dataSource]="dataSourceRespuestoMaquina"
                           [nameForButton]="['Nueva asociación']"
                           [routeForButton]="['lista-repuestos']">
</app-tabla>


 