.form-container{
    background-color: #112525;
    font: 95% Arial, Helvetica, sans-serift;
    text-align: center;
    border-radius: 5px;
    margin: 50px 300px 5px 300px;
    padding: 5px;   
}

label{
    margin-top: 21px;
}

