<div class="form-container">

    <div class="card">
  
      <h2 class="card-header">
        Iniciar sesión
      </h2>
  
      <div class="card-body">
  
        <form [formGroup]="loginForm" (ngSubmit)="login()">
  
          <div class="form-row">
      
            <div class="col">
            <label for="nombre_usuario">Nombre de usuario</label>
            <app-input [type]="'input'"
                       [parentForm]="loginForm" 
                       [control]="loginForm.controls.nombre_usuario">
            </app-input>
            </div>
  
          </div>

          <div class="form-row">

            <div class="col">
              <label for="pass">Contraseña</label>
              <app-input [type]="'password'"
                         [parentForm]="loginForm" 
                         [control]="loginForm.controls.password">
              </app-input>
            </div>

          </div>

          <div style="margin-top: 3%" class="btn-group btn-group-toggle" data-toggle="buttons">
            <app-button [name]="'Ingresar'" type="submit" [type]="'success'"></app-button>
          </div>
  
        </form>
  
      </div>
  
    </div>
  
</div>
