.form-container{
    background-color: #112525;
    font: 95% Arial, Helvetica, sans-serift;
    text-align: center;
    border-radius: 5px;
    margin: 5rem;
    padding: 1rem;
}

label{
    margin-top: 21px;
}

