<app-tabla class="table" [ds]='dataSourceMantenimientosCorrectivos' 
                         [columns]='columnsToDisplay' 
                         [width]="'98%'"
                         (clickRow)="clickedRow($event)"
                         [title]="['Mantenimientos correctivos']"
                         [includeButton]="true"
                         [includeButtonImport]="true"
                         [dataSource]='dataSourceMantenimientosCorrectivos'
                         [nameForButton]="['Nuevo correctivo']"
                         [routeForButton]="['formcorrectivo']">
</app-tabla>



