<div class="form-container">

    <div class="card">
  
      <h2 class="card-header">
        {{section}}
      </h2>
    
      <div class="card-body">
        
        <form [formGroup]="tareaForm" (ngSubmit)="saveForm()">
      
          <div class="form-row">
      
            <div class="col">
            <label for="inicio">Inicio</label>
            <app-input [type]="'datetime-local'" 
                       [parentForm]="tareaForm"  
                       [control]="tareaForm.controls.inicio"
                       [placeholder]="'Ingrese fecha de inicio'">
            </app-input>
            </div>
  
            <div class="col">
            <label for="frecuencia">Frecuencia de la tarea</label>
            <app-input [type]="'onlyNumber'" 
                       [parentForm]="tareaForm"  
                       [control]="tareaForm.controls.frecuencia"
                       [placeholder]="'Ingrese la frecuencia de la tarea'">
            </app-input>
            </div>
  
          </div>
  
          <div class="form-row">
      
            <div class="col">
            <label for="maquina_cod">Maquina</label>
            <app-input [type]="'select-pair'" 
                       [parentForm]="tareaForm"  
                       [control]="tareaForm.controls.maquina_cod"
                       [options]="dataSourceMaquinas"
                       (change)="getInAddMode($event.target.value)">
            </app-input>
            </div>

            <div class="col">
              <label for="parte_cod">Parte de maquina</label>
              <app-input [type]="'select-pair'"
                         [options]="dataSourcePartes"
                         [parentForm]="tareaForm" 
                         [control]="tareaForm.controls.parte_cod"
                         [required]="true">
              </app-input>
              </div>
      

  
          </div>

          <div class="form-row">

            <div class="col">
              <label for="tarea">Descripción de la tarea</label>
              <app-input [type]="'input'" 
                         [parentForm]="tareaForm"  
                         [control]="tareaForm.controls.tarea"
                         [placeholder]="'Ingrese la descripción de la tarea a realizar'">
              </app-input>
              </div>


          </div>
  
  
          <div style="margin-top: 3%" class="btn-group btn-group-toggle" data-toggle="buttons">
            <app-button [name]="buttonName" type="submit" [type]="'success'"></app-button>
            <app-button [name]="'Cancelar'" [type]="'cancel'"></app-button>
          </div>
      
        </form>
      </div>
    </div>
  
  </div>

<div class="form-container" *ngIf="mode == 'edit'">

    <div class="card">
  
      <h2 class="card-header">
        Historial de cambios
      </h2>
    
      <div class="card-body">

        <ul class="list-group list-group-flush" *ngFor="let tarea of dataSourceHistorial">

          <li class="list-group-item disabled"><b>Fecha de edición:</b> {{tarea.fecha_cambio}}</li>
          <li class="list-group-item">
            <b>Inicio</b> {{tarea.inicio}}
            <br>
            <b>Frecuencia</b> {{tarea.frecuencia}}
            <br>
            <b>Maquina</b> {{tarea.maquina}}
            <br>
            <b>Parte</b> {{tarea.parte}}
            <br>
            <b>Descripción</b> {{tarea.tarea}}
          </li>

        </ul>
        
      </div>

    </div>

</div>
