@import "../../../../assets/themes";

.nav-title{
    color: #FFFCF6;
    font-size: 150%;
}

nav{
    background-color: #33A0A0;
    flex: 1 1 auto;
}

nav li {
    color: #FFFCF6;
    &:hover{
        cursor: pointer;
        color: #002525;
    }

}

nav-link {
    color: #002525;
    &:hover{
        cursor: pointer;
        color: #002525;
    }

}
    


.navItem{
 margin-left: 2%;   
}