@import "../../../../assets/themes";

.nav-title{
    color: #006565;
    font-size: 150%;
}
nav{
    background-color: #33A0A0;
    // color: white;
}

nav li {
    color: #FFFCF6;
    &:hover{
        cursor: pointer;
        color: #002525;
    }
}