<nav class="navbar navbar-expand-lg">
  <a class="nav-title" href="#">Metaltronik</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse navItem" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-link" [routerLink]="nav.route" *ngFor="let nav of fillerNav" (click)="clicked(nav)"  [ngClass]="{ 'nav': selected != null }">
          {{nav.name}}
      </li>
      <li style="position: relative; left: 18%; margin: auto;" *ngFor="let nav of fillerNav" [routerLink]="nav.route">
        <div *ngIf="nav.icon != ''">
          <mat-icon>{{nav.icon}}</mat-icon>
        </div>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
