
mat-sidenav{
    width: 15%;
}

.btn-side {
    background-color: teal;
    border: none;
    margin-bottom: -10px;
}

.iconItem{
    margin-right: 10px;
}

.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .example-is-mobile .toolbar {
    position: fixed;
    z-index: 2;
  }

  .toolbar {
    background-color: teal;
    opacity: 0.8;
    box-shadow: 10px 10px 14px -10px rgba(0,0,0,0.75);
  }
  
  h1.app-name {
    text-shadow: black;
    margin: 5px;
    bottom: 5px;
  }
  
  .example-sidenav-container {
    flex: 1;
  }
  
  .example-is-mobile .example-sidenav-container {
    flex: 1 0 auto;
  }
  