<nav class="navbar navbar-expand-lg">

  <a class="nav-title" href="/main">IMWAI</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse navItem" id="navbarNav">

    <ul class="navbar-nav">

      <li class="nav-link" [routerLink]="nav.route" *ngFor="let nav of fillerNav" (click)="clicked(nav)"  [ngClass]="{ 'nav': selected != null }">
          {{nav.name}}
      </li>

      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link drop" ngbDropdownToggle>Mantenimientos</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem [routerLink]="man.route" *ngFor="let man of mantenimientos" (click)="clicked(man)">{{man.name}}</button>
        </div>
      </li>

      <li ngbDropdown class="nav-item">
        <a href (click)="false" class="nav-link drop" ngbDropdownToggle>Almacén</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem [routerLink]="al.route" *ngFor="let al of almacen" (click)="clicked(al)">{{al.name}}</button>
        </div>
      </li>

      <li style="position:absolute; padding: 5px; right: 1px;" *ngFor="let i of icons" [routerLink]="i.route">
        <div *ngIf="i.icon != ''">
          <mat-icon>{{i.icon}}</mat-icon>
        </div>
      </li>

      <li ngbDropdown class="nav-item drop" display="dynamic" placement="bottom-right" style="position:absolute; right: 40px;">
        <a href (click)="false" class="nav-link drop" ngbDropdownToggle style="padding: 5px;"><mat-icon aria-hidden="false" aria-label="Example home icon" style="color: white;">account_box</mat-icon></a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3">
          <button ngbDropdownItem disabled>Hola! {{userName}}</button>
          <div class="dropdown-divider"></div>
          <button ngbDropdownItem (click)="logout()">Cerrar sesión</button>
        </div>
      </li>

    </ul>

  </div>

</nav>


<router-outlet></router-outlet>
