@import '../../../../assets/themes';

.forTable{
    position: relative;
    left: 82.5%;
    margin-bottom: 2%;
}

.forForm{
    position: relative;
    margin-left: 25%;
}


.forFormCancel{
    position: relative; 
    margin-top: 25%;
}
