@import '../../../../assets/themes';

.forTable{
    background-color: #064126;
    border: none;
}

.forForm{
    position: relative;
    margin-left: 25%;
}


.forFormCancel{
    position: relative; 
    margin-top: 25%;
}
