<div class="form-container">

    <div class="card">
  
      <h2 class="card-header">
        {{section}}
      </h2>
    
      <div class="card-body">
        
        <form [formGroup]="partsForm" (ngSubmit)="saveForm()">
      
          <div class="form-row">
      
            <div class="col">
            <label for="codigo">Codigo de la parte</label>
            <app-input [type]="'input'" 
                       [parentForm]="partsForm"  
                       [control]="partsForm.controls.codigo"
                       [placeholder]="'Ingrese codigo de parte'">
            </app-input>
            </div>
  
            <div class="col">
            <label for="nombre">Nro Serie</label>
            <app-input [type]="'input'" 
                       [parentForm]="partsForm"  
                       [control]="partsForm.controls.nombre"
                       [placeholder]="'Ingrese nombre de la parte'">
            </app-input>
            </div>
  
          </div>
          <div style="margin-top: 3%" class="btn-group btn-group-toggle" data-toggle="buttons">
            <app-button [name]="'Agregar'" [type]="'primary-1'" type="submit"></app-button>
          </div>
          
          <div class="card" style="width: 18rem;">
            <div class="card-header">
              Seleccion actual
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item" *ngFor="let parts of partsCreated">
                
                {{parts.codigo}} {{parts.nombre}}  
              </li>
              <!-- <li class="list-group-item">Dapibus ac facilisis in</li>
              <li class="list-group-item">Vestibulum at eros</li> -->
            </ul>
          </div>

        </form>
        <div style="margin-top: 3%" class="btn-group btn-group-toggle" data-toggle="buttons">
          <app-button [name]="buttonName" [routeForButton]="'form-partes'" [type]="'success-path'"></app-button>
          <app-button [name]="'Cancelar'" [type]="'cancel'"></app-button>
        </div>
      </div>
    </div>
  
  </div>