<div class="container-fluid">
    
    <mat-tab-group>

        <mat-tab label="Tipos">

            <app-lista-tipos [title]="'Tipo de ordenes'" [tipo]="'Ordenes'"></app-lista-tipos>
            <app-lista-tipos [title]="'Tipo de correctivos'" [tipo]="'Correctivos'"></app-lista-tipos>

        </mat-tab>

        <mat-tab label="Prioridades">

            <app-lista-prioridades></app-lista-prioridades>

        </mat-tab>

        <mat-tab label="Cargos">

            <app-cargos></app-cargos>
            
        </mat-tab>

        <mat-tab label="Plantas">

            <app-tabla-planta></app-tabla-planta>
            
        </mat-tab>

        <mat-tab label="Sectores">

            <app-tabla-sector></app-tabla-sector>
            
        </mat-tab>



    </mat-tab-group>



</div>