<div class="container-fluid">
    
    <mat-tab-group>

        <mat-tab label="Tipos">

            <app-lista-tipos [title]="'Tipo de ordenes'" [tipo]="'Ordenes'"></app-lista-tipos>
            <app-lista-tipos [title]="'Tipo de correctivos'" [tipo]="'Correctivos'"></app-lista-tipos>

        </mat-tab>

        <mat-tab label="Prioridades">

            <app-lista-tipos [title]="'Prioridades'" [tipo]="'Prioridades'"></app-lista-tipos>

        </mat-tab>

        <mat-tab label="Cargos">

            <app-lista-tipos [title]="'Cargos'" [tipo]="'Cargos'"></app-lista-tipos>
            
        </mat-tab>

        <mat-tab label="Plantas">

            <app-lista-tipos [title]="'Plantas'" [tipo]="'Plantas'"></app-lista-tipos>
            
        </mat-tab>

        <mat-tab label="Sectores">

            <app-lista-tipos [title]="'Sectores'" [tipo]="'Sectores'"></app-lista-tipos>
            
        </mat-tab>



    </mat-tab-group>



</div>