<mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
        <mat-panel-title>
            Plantas
        </mat-panel-title>
        <mat-panel-description>
            Presiona para {{panelOpenState ? 'ocultar' : 'ver'}} la lista de plantas
        </mat-panel-description>
</mat-expansion-panel-header>
  
  <mat-list role="list">
  
      <form [formGroup]="formPlanta" (ngSubmit)="saveForm()">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="nombre" placeholder="Agregar planta">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">Agregar</button>
          </div>
        </div>
      </form>
  
      <mat-list-item role="listitem" *ngFor="let plant of dataSourcePlants">
          {{plant.nombre}}
      </mat-list-item>
  </mat-list>
