.form-container{
    border-radius: 5px;
    font: 95% Arial, Helvetica, sans-serift;
    max-width: 700px;
    padding: 16px;
    margin: 50px auto;
    background-color: lightgray;
}

.form-container h1{
    border-radius: 5px;
    background-color: teal;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: white;
    margin: -16px -16px 16px -16px;
}

.form-container input[type="text"],
.form-container select,
.form-container input[type="datetime-local"],
.form-container input[type="number"] {
    border-radius: 5px;
    transition: all 0, 30% ease-in-out;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    margin-bottom: 4%;
    border: 1px solid white;
    padding: 3%;
    color: black;
    font: 95% Arial, Helvetica, sans-serif; 
}

.btn-send{
    border: none;
    border-radius: 5px;
    width: 100%;
    padding: 3%;
    background-color: teal;
    color: white;
    font-size: 15px;
}

.form-container .btn-send:hover{
    background-color: #006868;
}

.form-container select{
    margin-top: 5px;
    border-radius: 5px;
    
}

.form-container form{
    margin-top: 25px;
}

.form-container label{
    margin-left: 5px;
    margin-top: 5px;
}