<div class="form-container">
  <h1>Nueva orden de trabajo</h1>

  <form [formGroup]="ordenForm" (ngSubmit)="saveForm()">
    
    <div>
      <label for="encargo_cod">Responsable de encargo</label>
      <select formControlName="encargo_cod">  
        <option value="" disabled>Selecciona un responsable de encargo</option>
        <option *ngFor="let user of users" [ngValue]="user.id">
         {{ user.nombre }} {{ user.apellido }}
        </option>
      </select> 
    </div>


    <div>
      <label for="estado">Estado de la orden</label>
      <select formControlName="estado">
        <option value="" disabled>Seleccionar estado de la orden</option>
        <option *ngFor="let estado of estados" [ngValue]="estado.id">
         {{estado.desc}}
        </option>
      </select> 
    </div>

    <div>
      <label for="fechaRealizar">Fecha a realizar</label>
      <input type="datetime-local" formControlName="fechaRealizar" placeholder="DD-MM-YYYY HH:MM" id="inputDate">
    </div>

    <div>
      <label for="maquina_cod">Maquina</label>
      <select formControlName="maquina_cod">
        <option value="" disabled>Seleccionar maquina</option>
        <option *ngFor="let order of orders" [ngValue]="order.maquina.maquina_cod">
         {{order.maquina.maquina_cod}}
        </option>
      </select> 
    </div>

    <div>
      <label for="pedidoMateriales">Materiales</label>
      <input type="text" formControlName="pedidoMateriales"  placeholder="Pedido de materiales">
    </div>

    <div>
      <label for="planta">Planta</label>
      <select formControlName="planta">
        <option value="" disabled>Seleccionar planta</option>
        <option *ngFor="let planta of plantas" [ngValue]="planta.id">
         {{planta.desc}}
        </option>
      </select> 
    </div>

    <div>
      <label for="sector_cod">Sector</label>
      <select formControlName="sector_cod">
        <option value="" disabled>Seleccione sector</option>
        <option *ngFor="let order of orders" [ngValue]="order.sector.id">
         {{ order.sector.descripcion }}
        </option>
      </select> 
    </div>

    <div>
      <label for="prioridad">Prioridad</label>
      <select formControlName="priodidad">
        <option value="" disabled>Seleccionar prioridad</option>
        <option *ngFor="let prio of prioridades" [ngValue]="prio.id">
         {{prio.desc}}
        </option>
      </select> 
    </div>

    <div>
      <label for="responsable_cod">Responsable</label>
      <select formControlName="responsable_cod">
        <option value="" disabled>Seleccione responsable</option>
        <option *ngFor="let user of users" [ngValue]="user.id">
          {{ user.nombre }} {{ user.apellido }}
        </option>
      </select> 
    </div>
      

    <div>
      <label for="tarea">Tarea</label>
      <input type="text" formControlName="tarea"  placeholder="Descripcion de la tarea">
    </div>

    <div>
      <label for="tipo">Tipo</label>
      <select formControlName="tipo">
        <option value="" disabled>Seleccionar tipo</option>
        <option *ngFor="let tip of tipo" [ngValue]="tip.id">
          {{tip.desc}}
        </option>
      </select> 
    </div>

    



    <button type="submit" class="btn-send">Crear orden</button>
  </form>

</div>
  
  
  