.form-container{
    background-color: #112525;
    font: 95% Arial, Helvetica, sans-serift;
    border-radius: 5px;
    max-width: 100%;
    padding: 5px;
    margin: 50px;
}

label{
    margin-top: 21px;
}



