<div class="form-container">
  <h1>Alta orden de trabajo</h1>

  <form [formGroup]="ordenForm" (ngSubmit)="saveForm()">

    <select formControlName="encargo_cod">
      
      <option value="" disabled>Selecciona un responsable de encargo</option>
      <option *ngFor="let user of users" [ngValue]="user.id">
       {{ user.nombre }} {{ user.apellido }}
      </option>
    </select> 

    <select formControlName="estado">
      <option value="" disabled>Seleccionar estado de la orden</option>
      <option *ngFor="let estado of estados" [ngValue]="estado.id">
       {{estado.desc}}
      </option>
    </select> 

    <input type="datetime-local" formControlName="fechaRealizar" placeholder="DD-MM-YYYY HH:MM" id="inputDate">

    <select formControlName="maquina_cod">
      <option value="" disabled>Seleccionar maquina</option>
      <option *ngFor="let order of orders" [ngValue]="order.maquina.maquina_cod">
       {{order.maquina.maquina_cod}}
      </option>
    </select> 

    <input type="text" formControlName="pedidoMateriales"  placeholder="Pedido de materiales">

    <select formControlName="planta">
      <option value="" disabled>Seleccionar planta</option>
      <option *ngFor="let planta of plantas" [ngValue]="planta.id">
       {{planta.desc}}
      </option>
    </select> 

    <select formControlName="sector_cod">
      <option value="" disabled>Seleccione sector</option>
      <option *ngFor="let order of orders" [ngValue]="order.sector.id">
       {{ order.sector.descripcion }}
      </option>
    </select> 

    <select formControlName="priodidad">
      <option value="" disabled>Seleccionar prioridad</option>
      <option *ngFor="let prio of prioridades" [ngValue]="prio.id">
       {{prio.desc}}
      </option>
    </select> 
    
    <select formControlName="responsable_cod">
      <option value="" disabled>Seleccione responsable</option>
      <option *ngFor="let user of users" [ngValue]="user.id">
       {{ user.nombre }} {{ user.apellido }}
      </option>
    </select> 



    <input type="text" formControlName="tarea"  placeholder="Tarea">

    <select formControlName="tipo">
      <option value="" disabled>Seleccionar tipo</option>
      <option *ngFor="let tip of tipo" [ngValue]="tip.id">
       {{tip.desc}}
      </option>
    </select> 

    



    <button type="submit" class="btn-send">Crear orden</button>
  </form>

</div>
  
  
  