<div class="form-container">

  <div class="card">

    <h2 class="card-header">
      {{section}}
    </h2>
  
    <div class="card-body">

      <form [formGroup]="form" (ngSubmit)="saveForm()">

        <label for="descripcion">Nombre del sector</label>
        <app-input [type]="'input'" 
                   [parentForm]="form"  
                   [control]="form.controls.descripcion"
                  [placeholder]="'Ingrese nombre del sector'">
        </app-input>


        <div style="margin-top: 3%" class="btn-group btn-group-toggle" data-toggle="buttons">
          <app-button [name]="buttonName" type="submit" [type]="'success'"></app-button>
          <app-button [name]="'Cancelar'" [type]="'cancel'"></app-button>
        </div>

      </form>

    </div>
    
  </div>

</div>