<div class="form-container">

  <div class="card">

    <h5 class="card-header">
      {{section}}
    </h5>
  
    <div class="card-body">

      <form [formGroup]="form" (ngSubmit)="saveForm()">

        <label for="descripcion">Nombre del sector</label>
        <app-input [type]="'input'" 
                   [parentForm]="form"  
                   [control]="form.controls.descripcion"
                  [placeholder]="'Ingrese nombre del sector'">
        </app-input>


        <app-button type="submit" [type]="'success'" [name]="buttonName" ></app-button>

      </form>

    </div>
    
  </div>

</div>