/* You can add global styles to this file, and also import other style files */
/* update your 'styles.css' with */
@import '~bootstrap/dist/css/bootstrap.css';

/* or your 'styles.scss' with */
@import "~bootstrap/scss/bootstrap";
html, body{
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: #192222 !important; };

.mat-tab-labels { background-color: #205F5F !important; };
.mat-tab-label .mat-tab-label-content { color: white !important;}
.mat-tab-label-content { color: white !important;}
.mat-tab-link { color: white !important; };

@import '~ngx-toastr/toastr.css';


// /* TOASTR BUGFIX */
// #toast-container > div {
//     opacity: 1;
//   }
//   .toast {
//     font-size: initial !important;
//     border: initial !important;
//     backdrop-filter: blur(0) !important;
//   }
//   .toast-success {
//     background-color: #51A351 !important;
//   }
//   .toast-error {
//     background-color: #BD362F !important;
//   }
//   .toast-info {
//     background-color: #2F96B4 !important;
//   }
//   .toast-warning {
//     background-color: #F89406 !important;
//   }
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
