<div class="form-container">

  <div class="card">

    <h2 class="card-header">
      {{section}}
    </h2>
  
    <div class="card-body">
      
      <form [formGroup]="machinesForm" (ngSubmit)="saveForm()">
    
        <div class="form-row">
    
          <div class="col">
          <label for="maquina_cod">Codigo maquina</label>
          <app-input [type]="'input'" 
                     [parentForm]="machinesForm"  
                     [control]="machinesForm.controls.maquina_cod"
                     [placeholder]="'Ingrese codigo de maquina'">
          </app-input>
          </div>

          <div class="col">
          <label for="nro_serie">Nro Serie</label>
          <app-input [type]="'onlyNumber'" 
                     [parentForm]="machinesForm"  
                     [control]="machinesForm.controls.nro_serie"
                     [placeholder]="'Ingrese numero de serie'">
          </app-input>
          </div>

        </div>

        <div class="form-row">
    
          <div class="col">
          <label for="modelo">Modelo</label>
          <app-input [type]="'input'" 
                     [parentForm]="machinesForm"  
                     [control]="machinesForm.controls.modelo"
                     [placeholder]="'Ingrese modelo de maquina'">
          </app-input>
          </div>
    
          <div class="col">
          <label for="equipo">Equipo</label>
          <app-input [type]="'input'" 
                     [parentForm]="machinesForm"  
                     [control]="machinesForm.controls.equipo"
                     [placeholder]="'Ingrese equipo'">
          </app-input>
          </div>

        </div>

        <div class="form-row">

          <div class="col">
          <label for="datos_tecnicos">Datos tecnicos</label>
          <app-input [type]="'input'" 
                     [parentForm]="machinesForm"  
                     [control]="machinesForm.controls.datos_tecnicos"
                     [placeholder]="'Ingrese datos tecnicos'">
          </app-input>
          </div>

          <div class="col">
          <label for="descripcion">Descripcion</label>
          <app-input [type]="'input'" 
                     [parentForm]="machinesForm"  
                     [control]="machinesForm.controls.descripcion"
                     [placeholder]="'Ingrese descripcion'">
          </app-input>
          </div>

        </div>

        <div class="form-row">

          <div class="col">
          <label for="planta_cod">Planta</label>
          <app-input [type]="'select-pair'"
                     [parentForm]="machinesForm" 
                     [control]="machinesForm.controls.planta_cod" 
                     [options]="dataSourcePlants">
          </app-input>
          </div>
   
          <div class="col">
          <label for="sector_cod">Sector</label>
          <app-input [type]="'select-pair'"
                     [parentForm]="machinesForm" 
                     [control]="machinesForm.controls.sector_cod" 
                     [options]="dataSourceSectors">
          </app-input>
          </div>

        </div>

        <div style="margin-top: 3%" class="btn-group btn-group-toggle" data-toggle="buttons">
          <app-button [name]="buttonName" [type]="'success'"></app-button>
          <app-button [name]="'Cancelar'" [type]="'cancel'"></app-button>
        </div>
        
      </form>
    </div>
  </div>

</div>