.form-container{
    font: 95% Arial, Helvetica, sans-serift;
    max-width: 500px;
    padding: 16px;
    margin: 10px auto;
    background-color: #FBB220;
}

.form-container h1{
    background-color: teal;
    padding: 20px 0;
    font-size: 140%;
    font-weight: 300;
    text-align: center;
    color: white;
    margin: -16px -16px 16px -16px;
}

.form-container input[type="text"],
.form-container input[type="number"] {
    transition: all 0, 30% ease-in-out;
    outline: none;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
    margin-bottom: 4%;
    border: 1px solid white;
    padding: 3%;
    color: darkgrey;
    font: 95% Arial, Helvetica, sans-serif; 
}

.form-container .btn-send{
    box-sizing: border-box;
    width: 100%;
    padding: 3%;
    background-color: teal;
    border-bottom: 2px solid #D58E00;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: white;
    font-size: 15px;
}

.form-container .btn-send:hover{
    background-color: #006868;
}