<mat-expansion-panel (opened)="panelOpenState2 = true" (closed)="panelOpenState2 = false">
  <mat-expansion-panel-header>
      <mat-panel-title>
          Tipos
      </mat-panel-title>
      <mat-panel-description>
          Presiona para {{panelOpenState2 ? 'ocultar' : 'ver'}} la lista de tipos
      </mat-panel-description>
  </mat-expansion-panel-header>

<mat-list role="list">

    <form [formGroup]="form" (ngSubmit)="addTipo()">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" formControlName="nombre" placeholder="Agregar tipo">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="submit">Agregar</button>
        </div>
      </div>
    </form>

    <mat-list-item role="listitem" *ngFor="let tipo of dataSourceTipos">
        {{tipo.nombre}}
    </mat-list-item>
</mat-list>