<div class="form-container">

    <div class="card">
  
      <h2 class="card-header">
        Nueva Entrada
      </h2>
    
      <div class="card-body">
        
        <form [formGroup]="entradaForm" (ngSubmit)="saveForm()">
      
          <div class="form-row">

            <div class="col">
              <label for="repuesto_cod">Repuesto</label>
              <app-input [type]="'select-pair'" 
                         [parentForm]="entradaForm"  
                         [control]="entradaForm.controls.repuesto_cod"
                         [options]="dataSourceRepuestos">
              </app-input>
              </div>
    
      
            <div class="col">
            <label for="cantidad">Cantidad</label>
            <app-input [type]="'onlyNumber'" 
                       [parentForm]="entradaForm"  
                       [control]="entradaForm.controls.cantidad"
                       [placeholder]="'Ingrese cantidad'">
            </app-input>
            </div>

  
          </div>
  
          <div class="form-row">

              
            <div class="col">
              <label for="fecha">Fecha</label>
              <app-input [type]="'datetime-local'" 
                         [parentForm]="entradaForm"  
                         [control]="entradaForm.controls.fecha"
                         [placeholder]="'DD-MM-YYYY'">
              </app-input>
              </div>
      
      
            <div class="col">
            <label for="precio">Precio unitario</label>
            <app-input [type]="'onlyNumber'" 
                       [parentForm]="entradaForm"  
                       [control]="entradaForm.controls.precio"
                       [placeholder]="'Ingrese precio'">
            </app-input>
            </div>
  
          </div>
  
          <div class="form-row">
  
            <div class="col">
            <label for="proveedor">Proveedor</label>
            <app-input [type]="'input'" 
                       [parentForm]="entradaForm"  
                       [control]="entradaForm.controls.proveedor"
                       [placeholder]="'Ingrese proovedor'">
            </app-input>
            </div>

            <div class="col">
              <label for="numeroOrdenCompra">Nro de orden de compra</label>
              <app-input [type]="'onlyNumber'" 
                         [parentForm]="entradaForm"  
                         [control]="entradaForm.controls.numeroOrdenCompra"
                         [placeholder]="'Ingrese numero de compra'">
              </app-input>
              </div>
  

          </div>
  
          <div style="margin-top: 3%" class="btn-group btn-group-toggle" data-toggle="buttons">
            <app-button [name]="'Crear entrada'" type="submit" [type]="'success'"></app-button>
            <app-button [name]="'Cancelar'" [type]="'cancel'"></app-button>
          </div>
      
        </form>
      </div>
    </div>
  
  </div>